.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 10px;
  text-align: center;
}

.box1 {
  width: 450px;
  border: 1px solid black;
}

.box2 {
  width: 200px;
  border: 1px solid black;
}
